

.botonUp{
    color: white;
    background-color: #103858;
    width: 80px;
    border: white;
    border-radius: 3rem;
    left: 95%;
    top: 90%;
    position: sticky;
    padding: 1px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.233);
    @media(max-width: 768px){
        color: white;
        left: 90%;
        top: 90%;
        padding: 0px;
    }
}