@import './mixins';

.contacto{
    @include centrar();
    flex-wrap: wrap;
    gap: 2rem;
    

    &__info{
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;

        @include responsive(medium){
            font-size: 15px;
        }

        span{
            font-weight: bold;
        }
    }
    &__map{
        width: 500px;
        @include responsive(extra-small){
            width: 300px;
        }
    }
}

    .form{
    @include centrar();
    color: black;
    

    &__display{
        @include centrar();
        flex-direction: column;
        gap: 10px;
        width: 320px;
        margin: 10px;
        

        &--label{
            background-color: rgb(211, 211, 211);
            width: 300px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            border-radius: 4px;

            &.input{
                width: 280px;  
                border: 0;
                
            }
        }
    }

    &__button{
        color: white;
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
        background-color: rgb(8, 8, 61);
        border: 0;
        border-radius: 5rem;
    }

}

.center{

    width: 320px;
    display: flex;
    border-radius: 4px;
    
    
    &--label{
        background-color: rgb(211, 211, 211);
        border-radius: 4px;
        margin: 3px;

        &.input{
            width: 120px;
            border: 0;
        }
    }
}