

.nav{
    height: 200px;
    background-color:#091722 ;
    padding: 2rem;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center; 
    text-align: center;
    align-items: center;
    border-radius: 4px;
    margin: 0;
    &__logo{
        height: 20rem;
        width: 20rem;
        border-radius: 100%;


        @media(max-width: 1200px){
            height: 10rem;
            width: 10rem;
        }


        @media(max-width: 768px){
            height: 10rem;
            width: 10rem;
        }

    }

    &__items{
        display: flex;
        flex: 0 auto;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem;

        &--items{
            font-size: 34px;
            background-color: #044f64 ;
            text-decoration: none;
            color:white;
            padding-left: 1rem;
            padding-right: 1rem;
            border: 1px solid ;
            border-radius: 2rem;

            @media(max-width: 1200px){
                font-size: 25px;
            }

            @media(max-width: 768px){
                font-size: 20px;
            }

        }

    }
    
}
