@import './mixins';

.nav{
    height: 200px;
    background-color:#091722 ;
    padding: 2rem;
    @include centrar();
    flex-direction: row;
    flex: auto;
    flex-flow: wrap;
    border-radius: 4px;
    margin: 0;
    &__logo{
        height: 20rem;
        width: 20rem;
        border-radius: 100%;


        @include responsive(large){
            height: 10rem;
            width: 10rem;
        }


        @include responsive(medium){
            height: 10rem;
            width: 10rem;
        }

    }

    &__items{
        @include centrar();
        flex: 0 auto;
        flex-direction: column;
        flex-flow: wrap;
        gap: 1rem;
        padding: 1rem;

        &--items{
            font-size: 34px;
            background-color: #044f64 ;
            text-decoration: none;
            color:white;
            padding-left: 1rem;
            padding-right: 1rem;
            border: 1px solid ;
            border-radius: 2rem;

            @include responsive(large){
                font-size: 25px;
            }

            @include responsive(small){
                font-size: 20px;
            }

        }

    }
    
}
