
body{


    a {
        color: black;
        text-decoration: none; /* Sin subrayado */
    }
    
    a:visited {
        color: inherit; /* O puedes especificar otro color */
        text-decoration: none; /* Sin subrayado después de ser visitado */
    }
    a:active {
        color: inherit; /* Mantiene el color del elemento padre */
        text-decoration: none; /* Elimina el subrayado */
        outline: none; /* Quita el borde que aparece en algunos navegadores */
    }

    ul{
        list-style-type: none;     
    }
    

}

.nav{
    
    height: 70%;
    background-color:#091722 ;
    padding: 2rem;
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center; 
    border-radius: 4px;
    margin: 10px;

    &__logo{
        height: 8rem;
        width: 8rem;
        border-radius: 100%;
    }

    &__items{
        display: flex;
        flex: 0 auto;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        margin: 1rem;

        &--items{
            background-color: #044f64 ;
            text-decoration: none;
            color:white;
            padding-left: 1rem;
            padding-right: 1rem;
            border: 1px solid ;
            border-radius: 2rem;

        }

    }
    
}
